<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConvictsContext"
        connectionString="Server=tcp:ot7ip23zfs.database.windows.net,1433;Database=Convicts;User ID=tiang@ot7ip23zfs;Password=alliinetDLP1;Trusted_Connection=False;Encrypt=True;Persist Security Info=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                  
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>